.works {
	border-top: 1px solid #ececec;

	@media screen and (max-width: 1170px) {
		display: none;
	}

	.works-list {
		@extend %list;

		display: flex;
		color: $third-text-color;
	}

	.works-text {
		width: 100%;
		position: absolute;
		bottom: 0px;

		margin-top: 0;
		margin-bottom: 0;

		height: 70px;
		padding-top: 27px;
		padding-bottom: 27px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.1429;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		background-color: rgba(47, 48, 58, 0.8);
		border-radius: 0px 0px 4px 4px;
	}
}

.works-item {
	width: calc((100% - 6 * 15px) / 3);
	height: 294px;

	& + & {
		margin-left: 30px;
	}

	.works-thumb {
		position: relative;
	}
}
