$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$accent-color: #2196f3;
$inline-svg-color: #afb1b8;
$main-bgc-color: #ffffff;
$secondary-bgc-color: #f5f4fa;
$footer-bgc-color: #2f303a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
